* {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 25% 1fr;
    grid-template-columns: 25% 50% 25%

}

#header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
}


#leftDisplay {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;

    background-color: grey;
}

#mainDisplay {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 2em;
    background-color: lightblue;

}

#rightDisplay {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: purple;
}

#toDoForm {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.toDo {
    margin: 1em;
    border: solid 2px grey

}

.images {
    max-height: 80px;
    max-width: 80px;
}