* {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 25% 1fr;
    grid-template-columns: 25% 50% 25%

}

#header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    margin: 1% 10%;
    box-shadow: 5px 10px rgba(128, 128, 128, 0.5);
    
}


#leftDisplay {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-a;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
    margin-top: 5vh;
}

#mainDisplay {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 2em;
    background-color: rgb(255, 255, 255);

}

#mainDispHeader {
    text-decoration: underline;
}

#rightDisplay {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    overflow-y: scroll;
    
}

#toDoForm {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    margin: 3vh;
}

#checkboxImg {
    height: 20vh;
    width: 20vh;
   margin-left: 1vw;
}

.toDo {
    margin: 1em;
    border: solid 2px grey;
    background-color: whitesmoke;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.5);

}

.checkbox {
    display: inline-block;
    margin: 2%;
}

.task {
    margin: 2%;
}

.toDoList {
    display: inline-block;
}

.task.toDoList {
    margin: 0;
    display: inline-block;
}

.images {
    max-height: 80px;
    max-width: 80px;
}

#mainList {
    display: flex;
    flex-direction: column;
    margin: 1vh;

}

#rightList {
    margin-top: 5vh;
}

label {
    margin: 5%;

}