body {
    font-size: 100%;
    font-family: libre_baskerville_reg;
    color: #325050;
    margin: 0;
}

@font-face {
    font-family: julius_sans_one;
    src: url(JuliusSansOne-Regular.ttf);
}

@font-face {
    font-family: libre_baskerville_reg;
    src: url(LibreBaskerville-Regular.ttf);
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#headerLeft {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 300px;
    font-family: julius_sans_one;
    color: white;

    background-image: url(contours-opaque.png), url(noise.png), url(gridlines.png), url(huntington.jpg);
    background-repeat: repeat repeat repeat none;
    background-size: 50% auto, auto , auto, cover;
    /* background-size: 100%; */
    
    display: flex;
    justify-content: left;
    align-items: center;

    padding: 0 10%;

}

#headerRight{
    background-color: #ffffff1A;
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    z-index: 20;
    height: 300px;
    font-family: julius_sans_one;
    color: #ffffffA6;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainTop {
    background-color: white;
    grid-column: 1 / 5;
    grid-row: 2 ;
    height: auto;

    justify-content: center;
    align-items: start;

    display: inline-block;
}

#mainMiddle {
    background-color: #8ABC9F80;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    z-index: 4;
    height: auto;
    background-image: url(bamboo.png);
    background-attachment: fixed;

    justify-content: center;
    align-items: start;

    display: flex;
    flex-direction: column;
}

#mainBottom {
    background-color: white;
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    height: auto;

    justify-content: center;
    align-items: start;

    display: inline-block;

}

#navTop {
    background-color: #edf4f0;
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    height: 900px;
}

#navMiddle {
    background-color: #e5ede8;
    grid-column: 5 / 7;
    grid-row: 3 / 4;
    height: 685px;
}

#navBottom {
    background-color: #edf4f0;
    grid-column: 5 / 7;
    grid-row: 4/ 5;
    height: 725px;
}

#footerTop {
    background-image: url(contours@2x.png), url(koi.jpg);
    background-size: 100% auto;
    grid-column: 1 / -1;
    height: 300px;
}

#footerBottom {
    background-color: blanchedalmond;
    grid-column: 1 / -1;
    height: 175px ;
}

#summary {
    padding: 52px 84px 16px 168px;
}

#preamble{
    padding: 16px 84px 16px 168px;
}

#explanation {
    padding: 16px 84px 64px 168px;
}

#participation {
    padding: 64px 638px 16px 168px;
}

#benefits{
    padding: 16px 638px 64px 168px;
}

#requirements {
    padding: 64px 0 16px;
    /* padding: 64px 84px 16px 168px; */
}

#headerRight > a {
    color: white;
    font-size: 1.5em;
    font-weight: lighter;
    text-decoration: none;
    background: rgba(255,255,255,0.1);
    color: #FFFFFFA6;
    padding: .75em 3em;
    font-weight: light;    
}

#headerRight > p {
    color: white;
    font-size: 4em;
    font-weight: lighter;
    text-decoration: none;
    background: rgba(255,255,255,0.1);
    color: #FFFFFFA6;
    font-weight: bolder;
    margin: .1em;
    height: 2em;
}

#requirements > h3 {
    padding: 0 84px 0 168px;
}

#requirements > p {
    padding: 16px 84px 0 168px;
    margin: 0;
}

#requirements > p:nth-child(5) {
    padding: 16px 84px 64px 168px;
}

p {
    margin: 12px 0 0;
    line-height: 2;
    font-size: 1em;
}

h1 {
    font-size: 3.2em;
    text-transform: capitalize;
    font-weight: lighter;
}

h3 {
    font-family: julius_sans_one;
    font-size: 1.8em;
    font-weight: lighter;
    margin: 0;
}

#mainTop > p > a {
    text-transform: capitalize;
    text-decoration: none;
    color: #809b7e;
}

